h1 {
  color:white;
  background-color: black;
  border-radius: 5ex;
  text-align: center;
}
h2 {
  color:white;
  background-color: black;
  border-radius: 5ex;
  text-align: center;
}
h3 {
  color:white;
  background-color: black;
  border-radius: 5ex;
  text-align: center;
}
h4 {
  color:white;
  background-color: black;
  border-radius: 5ex;
  text-align: center;
}
p {
  color:white;
  background-color: black;
  border-radius: 5ex;
  text-align: center;
}