body{
	text-align: center;
	background-color: khaki;
}

form {
	display: grid;
	grid-template-columns: repeat(7, 5em);
	grid-template-rows: repeat(8, 5em);
	margin: auto;
	background-color: grey;
	border-radius: 0.5em;
	width: fit-content;
}

form input{
	font-size: 1.5em;
	margin: 0.5em;
	border-radius: 0.5em;
	background-color: lightgray;
}

form :nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: white;
	text-align: end;
	resize: none;
	border-radius: 0.5em;
	margin: 1em;
}

form :nth-child(2), form :nth-child(7){
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: black;
	color:white;
}

form :nth-child(5){
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: black;
	color:white;
}

form :nth-child(6){
	grid-column-start: 5;
	grid-column-end: 8;
	background-color: black;
	color:white;
}

form :nth-child(3), form :nth-child(8){
	grid-column-start: 3;
	grid-column-end: 6;
	background-color: black;
	color:white;
}

form :nth-child(4), form :nth-child(9){
	grid-column-start: 6;
	grid-column-end: 8;
	background-color: black;
	color:white;
}

form :nth-child(10){
	grid-column-start: 6;
	grid-column-end: 8;
	grid-row-start: 6;
	grid-row-end: 11;
	background-color: blue;
	color:white;
}

form :nth-child(4n+11){
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: red;
	color:white;
} 

input[type="submit"]{
	display: none;
}